@import "./variables.scss";

.wrapper {
  border: 1px solid $black-color;
  margin-bottom: 2rem;
}

.border-top {
  border-top: 1px solid $black-color;
}

@media screen and (max-width: 500px) {
  .btn-group {
    flex-direction: column;
    gap: 1rem;

    button {
        font-size: 14px;
        padding: 8px 12px;
        display: block;
        min-width: auto;
    }
  }
}
