.bulk-action {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    transition: 0.3s ease-out;
    transform: translateY(100%);

    &.showing {
        transform: translateY(0);
    }
}

